In [ ]:
limit=int(input("Enter the limit : "))
count=0
while count<limit:
  print (count)
  count+=1

Enter the limit : 10
0
1
2
3
4
5
6
7
8
9

In [ ]:
S=[1,"Keerthana",30.8]
for i in S:
  print(i)

1
Keerthana
30.8

In [ ]:
for k in range(1,11):
  print(k)

1
2
3
4
5
6
7
8
9
10

In [ ]:
s={1,3,5}
for k in s:
  print(k)

1
3
5

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
for x in s:

  if x == 3:
    break
  print(x)

1

In [ ]:
s

{1, 3, 5}

In [ ]:
for x in s:

  if x == 3:
    continue
  print(x)

1
5

In [ ]:
def myname(name):
 print('My name is '+name)

In [ ]:
myname('Keerthana.K')

My name is Keerthana.K

In [ ]:
def sum(a,b):
  S=a+b
  print(S)

In [ ]:
sum(1,2)

3

## **`Arguments`**

In [ ]:
#Arbitary arguments
def fun(*kids):
  print('My young kid is '+''+kids[2])
fun('Keerth','Sidh','Nikki','Karthi')

My young kid is Nikki

In [ ]:
#Keyword arguments
def fun(child1,child2,child3):
  print('My young child is '+''+child2)
fun(child2='Keerth',child3='Sidh',child1="Karthi")

My young child is Keerth

In [ ]:
#Arbitary keyword arguments
def fun(**place):
  print('My place is '+''+place['place1'])
fun(place1='clt',place2='pkd',place3='ekm')

My place is clt

In [ ]:
def fun(a):
  if a<=1:
    return 1
  else:
    return a*fun(a-1)
print(fun(5))

120