In [ ]:
H = "Hello"
print(H.replace("e","a"))

Hallo

In [ ]:
x=11
print(x>3 and x<3)

False

In [ ]:
print(x>3 or x<3)

True

In [ ]:
A = ["Biriyani","Ice cream"]
print("Biriyani" in A)

True

In [ ]:
print(6 & 2)

2

In [ ]:
print(6|3)

7

In [ ]:
A=22
B=30
if(B>A):
  print("B is greater than A")

B is greater than A

In [ ]:
if A%2==0:
  print("A is a multiple of 2.")

A is a multiple of 2.

In [ ]:
if A%2==0:
  print("A is a multiple of 2")
else:
  print("A is not a multiple of 2")

A is a multiple of 2

In [ ]:
Year=int(input("Enter Year : "))

Enter Year : 2006

In [ ]:
Year=int(input("Enter Year : "))
if(Year%4==0 and Year%100!=0)or (Year%400==0):
  print("Leap Year")
else:
  print("This Year is not a leap year")

Enter Year : 2004
Leap Year

In [ ]:
Age=int(input("Enter the Age : "))
if (Age>19):
  print("Eligible to vote")
elif(Age>=18):
  print("Eligible to vote")
else:
  print("Not eligible to vote")

Enter the Age : 17
Not eligible to vote

In [ ]:
Marks=int(input("Enter the marks : "))
if(Marks>90):
  print("Grade A")
elif(Marks>70):
  print("Grade B")
elif(Marks>40):
  print("Grade C")
else:
  print("Grade P")

Enter the marks : 17
Grade P

In [ ]:
limit=int(input("Enter limit : "))
count=1
while count<=limit:
  print(count)
  count+=1

Enter limit : 6
1
2
3
4
5
6

In [ ]:
print(chr(11088))

⭐

In [ ]:
print(chr(9800))

♈

In [ ]:
print(chr(9200))

⏰

In [ ]:
print(chr(9800))

♈

In [ ]:
n=int(input("Enter the number : "))
i=0
while(n!=0):
  n=n//10
  i+=1
print(i)

Enter the number : 308
3

In [ ]:
print(chr(10084))

❤